<div class="row mt-5">
  <div class="col-md-6 offset-3 mt-5">
    <div class="card">
      <div class="card-header bg-info text-white">
        <h2><strong>Bootstrap 4 Tag Input Example</strong></h2>
      </div>
      <div class="card-body">
        <label>Tags : {{tag.name}} </label>
        <input
          type="text"
          data-role="tagsinput"
          name="tags"
          class="form-control"
        />
      </div>
    </div>
  </div>
</div>