<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    /> }}
    <link rel="stylesheet" href="s" />
    <title>Universal Directory</title>
  </head>
  <body>

    <main>

      <div class="container">
        <div class="columns">
          <div class="columns mt-6 mr-6">
            <div class="column is-one-quarter mt-6">
              <figure class="image is-128x128">
                <img
                  class="is-rounded image1"
                  src="./assets/images/Picture1.png"
                />
              </figure>
              <figure class="image is-128x128 mt-6">
                <img
                  class="is-rounded image1"
                  src="./assets/images/Picture3.png"
                />
              </figure>
              <figure class="image is-128x128 mt-6">
                <img class="is-rounded" src="./assets/images/Picture2.png" />
              </figure>

            </div>
          </div>
          <div class="box is-size-10 mt-6 ml-6">
            <br />
            We are professionals of different branches on our way to learn
            coding. This Project is the outcome of our more than 15 weeks of web
            development approaches. At this Project we tried to implement our
            knowldges of MVC concept.
            <br />
            Continued

            <br />

            Greetings from the team: Zahra, Alexander and Amir
          </div>
        </div>
      </div>
    </main>

  </body>
</html>