  <!-- This is about us page -->
           <svg
            class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
            fill="currentColor"
            viewBox="0 0 100 100"
            preserveAspectRatio="none"
            aria-hidden="true"
          >
            <polygon points="50,0 100,0 50,100 0,100" />
          </svg>
      <main
            class="mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28"
          >
            <div class="sm:text-center lg:text-left">
              <h1
                class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl"
              >
                <span class="block xl:inline"> Here is some info </span>
                <span class="block text-indigo-600 xl:inline"
                  >About Us</span
                >
                <div id="order-id" style="display:none">5</div>
              </h1>
      

              </div>
               </div>
          </main>
        </div>
      </div>
      <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img
          class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
          src="https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt=""
        />
      </div>
    </div>
 
 
 <div class="about-us">
        <div class="media mt-3">
          <a class="mr-3" href="#">
            <img src="https://avatars.githubusercontent.com/u/90645435?v=4" class="mr-3 profile-img" id="Alex" alt="Alex" />
          </a>
          <div class="media-body profile-quote">
            <h5 class="mt-0">Alexander Pushkin</h5>
            <P>"My first gaming device was a Win 95 PC and since than I am fascinated by technology and the problems it solves. Today dev skills are important - so here I am"</p>
          </div>
        </div>

        <div class="media mt-3">
          <a class="mr-3" href="#">
            <img src="https://avatars.githubusercontent.com/u/89726151?v=4" class="mr-3 profile-img" id="Amir" alt="Amir" />
          </a>
          <div class="media-body profile-quote">
            <h5 class="mt-0">Amir Saadat Fard</h5>
            <P>"I am passionate about coding and helping people to automate manual processes"</p>
          </div>
        </div>

        <div class="media mt-3">
          <a class="mr-3" href="#">
            <img src="https://avatars.githubusercontent.com/u/90476993?v=4" class="mr-3 profile-img" id="Zahra" alt="Zahra" />
          </a>
          <div class="media-body profile-quote">
            <h5 class="mt-0">Zahra Mammadli</h5>
            <p>"Who in the world am I?' Ah, that's the great puzzle!"</p>
          </div>
        </div>
      </div>
    </div>
    </div>