<div>
  <ul>
    <li>

      <textarea name="" id="" cols="20" rows="2">name: </textarea>
    </li>
    <li>

      <textarea name="" id="" cols="20" rows="2">surname: </textarea>
    </li>
    <li>

      <textarea name="" id="" cols="20" rows="2">email: </textarea>
    </li>
    <li>

      <textarea name="" id="" cols="20" rows="2">birth-date: </textarea>
    </li>
    <li>

      <textarea name="" id="" cols="20" rows="2">password: </textarea>
    </li>
    <button class="btn btn-primary" type="submit">sign-up</button>
  </ul>
</div>