.profile {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.main-aside {
  display: flex;
}

.collapse__content {
  display: flex;
  justify-content: left;
}

.order {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.placed-oders {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
