.profile {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.main-aside {
  display: flex;
}

.collapse__content {
  display: flex;
  justify-content: left;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.order {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}

.placed-oders {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.contact-form {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.sign-up {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.about-us {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

#Zahra {
  object-fit: cover;
  width: 400px;
  height: 400px;
  object-position: 90% 10%;
}
#Amir {
  object-fit: cover;
  width: 400px;
  height: 400px;
  object-position: 90% 10%;
}
#Alex {
  object-fit: cover;
  width: 400px;
  height: 400px;
  object-position: 90% 10%;
}

.profile-img {
  border-radius: 50%;
}

.profile-quote {
  align-self: center;
  padding-left: 5vw;
}

p {
  color: rgb(107 114 128);
}
